body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
    margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none; color: #656565;}
input{border: none;}
.hou{display: none;}
.kai{display: block;}


.fl{float: left;}
.rl{float: right;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

